<p id="notice"><%= notice %></p>

<p>
  <strong>Observacion:</strong>
  <%= @detalle_aula.observacion %>
</p>

<%= link_to 'Edit', edit_detalle_aula_path(@detalle_aula) %> |
<%= link_to 'Back', detalle_aulas_path %>
