<p id="notice"><%= notice %></p>

<p>
  <strong>Anho:</strong>
  <%= @anho_carrera.anho %>
</p>

<%= link_to 'Edit', edit_anho_carrera_path(@anho_carrera) %> |
<%= link_to 'Back', anho_carreras_path %>
