<h1>Editar Asignacion Aula</h1>

<%= render 'form', asignacion_aula: @asignacion_aula %><br>

<%= link_to @asignacion_aula, class:" btn btn-info" do  %> 
              <i class="glyphicon glyphicon-eye-open"></i>
            <% end %> |
<button type="button" class="btn btn-defauld"><%= link_to 'Atras', asignacion_aulas_path %></button>
