<p id="notice"><%= notice %></p>

<p>
  <strong>Observacion:</strong>
  <%= @asignacion_aula.observacion %>
</p>

<%= link_to 'Edit', edit_asignacion_aula_path(@asignacion_aula) %> |
<%= link_to 'Back', asignacion_aulas_path %>
