<h1>Editar Aula</h1>

<%= render 'form', aula: @aula %>

<%= link_to @aula, class:"btn btn-success"  do %>
            <i class="glyphicon glyphicon-eye-open"></i>
           <% end %> |
<button type="button" class="btn btn-default"><%= link_to 'Atras', aulas_path %></button>
