<p id="notice"><%= notice %></p>

<p>
  <strong>Observacion:</strong>
  <%= @asignacion.observacion %>
</p>

<%= link_to 'Edit', edit_asignacion_path(@asignacion) %> |
<%= link_to 'Back', asignacions_path %>
