
<table class="table table-striped">
  <thead>
    <tr>
      	<th>Facultad</th>
  		<th>Carrera</th>
  		<th>Año</th>
  		<th>Observacion</th>
    </tr>
  </thead>
    <tbody>
      	<tr>
      	<td><%= asignacion_aulas.facultads_id %></td>
        <td><%= asignacion_aulas.registro_carreras_id %></td>
        <td><%= asignacion_aulas.anho_carrera_id %></td>
        <td><%= asignacion_aulas.observacion %></td>
        </tr>
   	 </tbody>
</table>

   	