<<<<<<< 2df213bcab24c4ca901958aaccf64f1a218912df
=======
<%= render 'layouts/menu' %>
<h1>Esta sera nuestra pagina de Inicios</h1>

<% @asignacion_aulas.each do |asignacion_aulas| %>
	<div class="row-fluid"><%= render 'asignacion', asignacion_aulas: asignacion_aulas %></div>
<% end %>
>>>>>>> 2457fc21b3adaaca6aa9efa24f8041308738635d
