
<h1>Esta sera nuestra pagina de Inicios</h1>

<% @asignacion_aulas.each do |asignacion_aulas| %>
	<div class="row-fluid"><%= render 'asignacion', asignacion_aulas: asignacion_aulas %></div>
<% end %>

