<div class="container">
<h2 class="text-center text-muted">Editar Registro Carrera</h2>
</div>

<%= render 'form', registro_carrera: @registro_carrera %>

<%= link_to 'Show', @registro_carrera %> |
<%= link_to 'Back', registro_carreras_path %>
