<div class="container">
<h2 class="text-center text-muted">Editar Registro Carrera</h2>
</div>

<%= render 'form', registro_carrera: @registro_carrera %>

<%= link_to @registro_carrera, class:" btn btn-info" do  %> 
              <i class="glyphicon glyphicon-pencil"></i>
            <% end %> |
<button type="button" class="btn btn-defauld"><%= link_to 'Back', registro_carreras_path %></button>
