<div class="container">
<h2 class="text-center text-muted">Nuevo Registro de Carrera</h2>
</div>

<%= render 'form', registro_carrera: @registro_carrera %>

<button type="button" class="btn btn-defauld"><%= link_to 'Atras', registro_carreras_path %></button>
