<h1>Editar Facultad</h1>

<%= render 'form', facultad: @facultad %>

<%= link_to @facultad, class:" btn btn-info" do  %> 
              <i class="glyphicon glyphicon-eyes-open"></i>
            <% end %> |
<button type="button" class="btn btn-defauld"><%= link_to 'Atras', facultads_path %></button>
